body {
    margin: 1em;
    text-align: center;
}
input, #name, #country, #subject {
    display: block; 
    margin: auto;
}

#nameError, #textError {
    color: red;
}

#article {
   background: grey;
   padding: 10px 0;
}

#location {
   min-height: 500px;
   padding: 0 20px;
   display: block;
}

#map {
   width: 100%;
   min-height: 300px;
}

#directions {
   width: 100%;
   height: 100%;
}